<%= form_tag subscriber_path(1), method: :put do %>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
         data-description=<%= t('view.stripe.final_step_p') %>
         data-amount="300"
         data-locale="auto"></script><span><%= t('view.stripe.final_step_p') %></span>
<% end %>
