
<div class="row">
  <div class="columns large-12">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%#= link_to t("title"), refinery.root_path, class: '' %>
        </li>
      </ul>
      <%# menu = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self) %>
      <% menu = FoundationMenu.new(refinery_menu_pages, self) %>
      <% menu.max_depth = 1 %>
      <%= menu.to_html %>
    </nav>
  </div>
</div>
