// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slick-multislider, .slick-slide  {
  max-height:260px;
  overflow: hidden;
}

.slick-slider {
  margin-bottom: 0px !important;
}
